body{
    background-image: url(fundo2.jpg);
}
div{
    width: 100%;
    margin: 0;
    padding: 0;
}
.pontos{
    position: fixed;
    top: 0;
    left: 10px;
    font-size: 25px;
    font-family: cursive;
}
.jogadas{
    position: fixed;
    top: 26px;
    left: 10px;
    font-size: 25px;
    font-family: cursive;
}
.tabuleiro_container{
    width: 1000px;
    margin: 0 auto;
}
.tabuleiro_container ul{
    width: 100%;
    padding: 0;
    list-style: none;
}
.tabuleiro_container ul li{
    width: 15%;
    display: -webkit-inline-box;
}
.tabuleiro_container ul li div.Carta{
    width: 100%;
    padding: 10px;
    height: 130px;
    
}
.tabuleiro_container ul li div.Carta .front{
    border: 2px solid black;
    width: 100%;
    height: 130px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px;
}
.tabuleiro_container ul li div.Carta .back{
    border: 2px solid black;
    width: 100%;
    height: 130px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px;
    text-align: center;
    font-size: 76px;
    font-family: fantasy;
    background: white;
}
img{
    width: 100%;
    cursor: pointer;
}

button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #000000;
	padding: 8px 20px;
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#00d9ff),
		to(#00d9ff));
	background: linear-gradient(
		top,
		#00d9ff 0%,
		#00d9ff);
	border-radius: 10px;
	border: 1px solid #000000;
	box-shadow:
		3px 4px 6px rgba(0,0,0,1),
		inset 1px 1px 4px rgba(13,13,12,0.8);
	text-shadow:
		0px -1px 3px rgba(255,255,255,1),
		0px 1px 0px rgba(255,255,255,0.3);

	
}

div.container {
height: 40em;
 display: flex;
  align-items: center;
  justify-content: center
}



